input
{
  border-radius: 2px;
}

.button:disabled,
.button:disabled:hover
{
  background-color: #777;
  border-color: transparent;
  color: #555;
  cursor: not-allowed;
}

.input-group
{
  margin-bottom: 8px;
}
